@page
@model ProyectoCiclo3.App.Frontend.Pages.FormEncomiendaModel
@{
}
 
<div class="text-center">
<form method="POST">

  <label for="Nombre" class="form-label">Nombre:</label>
  <input type="text" class="form-control" id="Nombre" name="Nombre" placeholder="Nombre">

  <label for="Apellidos" class="form-label">Apellidos:</label>
  <input type="text" class="form-control" id="Apellidos" name="Apellidos" placeholder="Apellidos">

  <label for="Dirección" class="form-label">Dirección:</label>
  <input type="text" class="form-control" id="Dirección" name="Dirección" placeholder="Dirección">

  <label for="Telefono" class="form-label">Telefono:</label>
  <input type="number" class="form-control" id="Telefono" name="Telefono" placeholder="Telefono">


  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>
